body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5dccd;
}


section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.request p {
    margin: 0;
}